<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ComPortName" value="COM10"/>
    <add key="ComPortBaud" value="38400"/>
    <add key="ComPortParity" value="None"/>
    <add key="ComPortBits" value="8"/>
    <add key="ComPortStopBits" value="One"/>
    <add key="ReadTimeout" value="5000"/>
    <add key="WriteTimeout" value="5000"/>
  </appSettings>
</configuration>
